<section id="contact">
    <div class="container">
        <div class="contact-wrapper">
            <h2><strong>Contact Us to Get Started!</strong></h2>
            <hr>
            <p><i class="fas fa-mobile"></i> <strong>Phone: </strong><a href="tel:5128791824">512.879.1824</a></p>
            <p><i class="fas fa-envelope"></i> <strong>Email: </strong><a href="mailto:jennifer.hayes@lotuscanine.com">jennifer.hayes@lotuscanine.com</a></p>
            <p><i class="fas fa-clock"></i> <strong>Hours: </strong>24 Hours, 7 Days a Week</p>
        </div>
    </div>
</section>