<section id="pet-sitting">
    <div class="container">
        <div class="service-container">
            <h2>Pet Sitting</h2>
            <div class="flex-card">
                <div class="service-card">
                    <i class="fas fa-umbrella-beach"></i>
                    <p><strong>Pet Sitting Visits</strong></p>
                    <p>Pet sitting in the comfort of your own south Austin home. Includes short walks/potty breaks,
                        snuggles, feeding, medication administration, etc.</p>
                </div>
                <div class="service-card">
                    <i class="fas fa-umbrella-beach"></i>
                    <p><strong>Dog Boarding</strong></p>
                    <p>Catering to your pup's needs 24/7. Walks, cuddles, selfies, food, and meds if needed in the
                        comfort
                        of our dog-centric home.</p>
                </div>
            </div>
        </div>
    </div>
</section>