<section id="services">
    <div class="container">
        <div class="service-container">
            <h1><strong>What Lotus Offers:</strong></h1>
            <p>Whether you dog needs a quick dog walk, potty break, exercise etc, we have dog walking, and pet sitting
                services to fit your schedule. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                <hr>
                <h2 style="margin-top:20px">Dog Walks</h2>
                <div class="flex-card">
                    <div class="service-card">
                            <i class="fas fa-paw"></i>
                            <p><strong>30 Minute Dog Walk</strong></p>
                            <p>Stretch your dog's legs and do some sniffing with 30 minutes of exercise in your neighborhood or local park. Complimentary fresh water fill up with every walk. Can work with all behavioral quirks including leash reactivity, mouthiness, fear, aversion to dogs or people, etc.</p>
                    </div>
                    <div class="service-card">
                            <i class="fas fa-paw"></i>
                            <p><strong>60 Minute Green Belt Adventure</strong></p>
                            <p>Does your pup have extra energy to burn? For 60 minutes, we take a quick ride from your home to the Greenbelt for some hiking and swimming!</p>
                    </div>
                </div>
        </div>
    </div>
</section>